/* NAVIGATION */
#navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.16);
  }
#navbar div {
    display: flex;
    width: 98%;
    flex-flow: row;
    top: 0;
    overflow: hidden;
  }
  #navbar a {
    float: left;
    display: block;
    color: white;
    font-size: 28px;
    font-family: Alumni Sans;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #navbar a:hover {
    color: rgb(221, 221, 221);
  }

   /* BLOCK1*/
   .block1 {
    background-image: url(../img/menuPageTop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    top: 0;
  }
  .block1 h1 {
    font-size: calc(30px + 140 * (100vw / 1440));
    color: rgba(255, 255, 255, 0.79);
    font-family: Bellota;
    font-weight: normal;
    align-self: center;
    margin-top: 2%;
  } 

  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 55%;
    font-family: Advent Pro;
    font-size: 16px;
    text-align: center;
    background-color: rgba(69, 33, 0, 0.35);
    border-radius: 14px;
    width: 42%;
    margin-bottom: 5vh;
  }
  .introduction > div{
    display: flex;
    flex-direction: row;
    font-family: Bellota;
    font-size: calc(18px + 2 * (100vw / 1440));
    align-items: center;
    width: 50%;
    padding: 1% 0;
  }
  .introduction > p{
    padding: 3%;
  }
  .introduction > div > img {
    width: 16%;
    margin: 0 5%;
  }

  .button {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    font-family: Amatic SC;
    font-size: calc(20px + 8 * (100vw / 1440));
    color: white;
    padding: 10px 55px;
  }

  .button:hover {
    background-color: white;
    color: rgba(69, 33, 0, 1);
  }

  .separator{
    background-image: url(../img/pergament.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    font-family: Bellota;
    font-size: calc(26px + 10 * (100vw / 1440));
    justify-content: center;
    color: rgba(69, 33, 0, 1);
    width: 100%;
  }
  .separator a{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 10%;
    margin: 1% 2%;
    color: rgba(69, 33, 0, 1);
    cursor: pointer;
  }
  .separator a img{ 
    height: 40%;
    width: 40%;
  }
  #separatorMobile{
    display: none;
    padding: 5px 0;
    flex-direction: column;
  }
  #separatorMobile a{
    margin: unset;
  }
  #foodIconMobile{
    width: 9vh;
  }
  #arrow{
    width: 5vh;
    transition: transform 0.3s ease;
  }

  #arrow.rotated {
    transform: rotate(180deg);
  }

  .dropdown-content {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .dropdown-content a {
    padding: 5px 0;
    border-bottom: 3px solid rgba(69, 33, 0, 1);
  }

  .dropdown-content a:last-child {
    border-bottom: none;
  }

  .hoverIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 28vh;
    width: 28vh;
    background-image: url(../img/hoverIcon.png);
    background-size: cover;
    opacity: 0;
    transition: opacity 2s ease;
  }

  .category.active .hoverIcon {
    opacity: 1;
  }
  .category.active{
    font-size: calc(16px + 6 * (100vw / 1440));
    font-weight: bold;
  }


#salad{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4% 0;
  overflow: hidden;
}
#salad::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url('../img/bgPageSalads.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#soup{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4% 0;
  overflow: hidden;
  display: none;
}
#soup::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url('../img/menuBgPhoto.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#hot{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4% 0;
  overflow: hidden;
  display: none;
}
#hot::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url('../img/bgPageHot.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#dessert{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4% 0;
  overflow: hidden;
  display: none;
}
#dessert::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url('../img/bgPageDessert.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#breakfast{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4% 0;
  overflow: hidden;
  display: none;
}
#breakfast::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url('../img/bgPageBreakfast.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#drinks{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4% 0;
  overflow: hidden;
  display: none;
}

#drinks::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url('../img/bgPageDrinks.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.main, .title{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-family: Bellota;
  background-color: rgba(69, 33, 0, 0.9);
  border-radius: 14px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  width: 42%;
  color: white;
  margin: 5px 0;
  padding: 1%;
}
.title{
  font-size: 28px;
  justify-content: center;
}
.info{
  height: 151px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 2%;
  width: -webkit-fill-available;
}
.main img{
  min-width: 262px;
  height: 151px;
  object-fit: cover;
  border-radius: 14px;
}

.info div{
  display: flex;
  flex-direction: row;
}

.juice{
  object-position: 2% 0;
}

#spaceBetween{
  justify-content: space-between;
}

#name{
  font-size: calc(13px + 7 * (100vw / 1440));
}

#weight{
  font-size: calc(10px + 6 * (100vw / 1440));
}

#text{
  font-size: calc(9px + 6 * (100vw / 1440));
}
#tee{
  font-size: calc(8px + 5 * (100vw / 1440));
}
#price{
  font-size: calc(15px + 5 * (100vw / 1440));
}

#icon{
  min-width: unset;
  width: 10%;
  height: 90%;
  margin: 0 2%;
  border-radius: unset;
}

#separator3{
  height: 30px;
}

#separator4{
  height: 64px;
  font-size: calc(14px + 6 * (100vw / 1440));
}

.footer{
  background-image: url(../img/bgImgMenuFooter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  height: 100vh;
  color: white;
  justify-content: center;
  font-family: Arsenal;
  font-weight: normal;
  font-size: calc(18px + 6 * (100vw / 1440));
}

.footer div{
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: center;
  margin: 7px 0;
}

.footer h2{
  font-family: Bellota;
  font-size: 48px; 
  margin-bottom: 15px;
}

.footer div img{
  height: 30px;
  margin-right: 7px;
}

#instagram{
  margin-top: 30px;
}